<% provide(:title, "New List") %>

<%= form_with model: @list, url: '/todolists', local: true do |f| %>
  <div class="form">
    <div class="form-style">
      <h4 class="form-head">Title</h4>
      <%= f.text_field :title %>
    
      <h4 class="form-head">Body</h4>
      <%= f.text_area :body %>
    
      <div class="form-image">
        <h4 class-"form-head">Image</h4>
        <%= f.attachment_field :image %>  
      </div>
    
      <div class="form-submit form-style">
        <%= f.submit 'Post' %>
      </div>
    </div>
  </div>
<% end %>
